<h1 class="animated fadeIn fast">Sobre Cevin</h1>
<hr>

<p class="animated fadeIn">
    Cevin es una empresa de la región de Coquimbo, que nace el año 2012 como una ferretería industrial, orientada al abastecimiento de máquinas y equipos para la industria, proveyendo estanques de agua, fosas sépticas, generadores, compresores, entre otros
    instrumentos. Durante el año 2015, a las operaciones de Cevin se integra la línea de gases, mediante un contrato establecido con la empresa Air Liquide, convirtiéndose en distribuidor oficial en la cuarta región de esta compañía productora y comercializadora
    de gases industriales. Esta nueva actividad comercial se ha convertido en el eje central de las ventas de Cevin, representando aproximadamente el 60% de los ingresos por ventas que se obtienen. El proceso de venta de gases se lleva a cabo mediante
    el uso de cilindros especializados los cuales son arrendados a los clientes durante el tiempo de consumo de los gases, una vez devueltos, el arriendo es cobrado. Para abastecerse de insumos, los cilindros vacíos son enviados a Santiago para su carga
    y luego son retornados a Cevin. Cevin realiza sus operaciones en las dependencias ubicadas en Avenida Colo Colo #4366, Barrio Industrial La Serena, región de Coquimbo.
</p>