<div class="col mt-3 animated fadeIn fast">

    <!-- Selección de dispositivo de video -->
    <div class="input-group mb-3">

        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Escoga una cámara</label>
        </div>

        <select class="custom-select" (change)="cambiarCam($event.target.value)">
          <option>Seleccione un dispositivo de video...</option>
          <option *ngFor="let device of videoDevices">{{ device.label }}</option>
        </select>

    </div>

    <!-- Terminal -->
    <div class="devContainer animated fadeIn" id="target">
        <qr-scanner [ngClass]="{ 'hideElem': esconder }" [debug]="false" [canvasWidth]="ancho" [canvasHeight]="alto" [stopAfterScan]="true" [updateTime]="500">
        </qr-scanner>
    </div>

</div>