<div class="example-container mat-elevation-z8 animated fadeIn fast">
    <div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        <div class="rate-limit-reached" *ngIf="isRateLimitReached">
            Error al obtener la información...
        </div>
    </div>


    <mat-form-field class="ml-2">
        <mat-label>Búsqueda</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="filtro" #input>
    </mat-form-field>

    <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort>

            <!-- Columna del ID -->
            <ng-container matColumnDef="cilindro_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row"> {{ row.cilindro_id }} </td>
            </ng-container>

            <!-- Columna del número de serie del activo -->
            <ng-container matColumnDef="codigo_activo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nº Serie </th>
                <td mat-cell *matCellDef="let row"> {{ row.codigo_activo | slice:13 }} </td>
            </ng-container>

            <!-- Columna de la última fecha de mantención -->
            <ng-container matColumnDef="fecha_mantencion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Última Mantención </th>
                <td mat-cell *matCellDef="let row"> {{row.fecha_mantencion}} </td>
            </ng-container>

            <!-- Columna del tipo de gas -->
            <ng-container matColumnDef="tipo_gas">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Gas </th>
                <td mat-cell *matCellDef="let row"> {{row.tipo_gas}} </td>
            </ng-container>

            <!-- Columna de estado -->
            <ng-container matColumnDef="activo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Activo </th>
                <td mat-cell *matCellDef="let row" [ngClass]="{ 'activo': row.activo, 'inactivo': !row.activo }">
                    <mat-icon>{{row.activo | boolean}}</mat-icon>
                </td>
            </ng-container>

            <!-- Columna de opciones -->
            <ng-container matColumnDef="opciones">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Opciones </th>
                <td mat-cell *matCellDef="let row" #reescalado>
                    <div *ngIf="!tableSmall">
                        <button mat-icon-button matTooltip="Imprimir etiqueta" (click)="imprimir(row)">
                            <mat-icon>print</mat-icon>
                          </button>
                        <button mat-icon-button color="accent" matTooltip="Editar cilindro" (click)="editar(row)">
                            <mat-icon>edit</mat-icon>
                          </button>
                        <button mat-icon-button *ngIf="isAdmin && row.activo" color="warn" matTooltip="Eliminar cilindro" (click)="cambiarEstado(row)">
                            <mat-icon>delete</mat-icon>
                          </button>
                        <button mat-icon-button *ngIf="isAdmin && !row.activo" color="primary" matTooltip="Activar cilindro" (click)="cambiarEstado(row)">
                            <mat-icon>add</mat-icon>
                          </button>
                    </div>
                    <div *ngIf="tableSmall">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="imprimir(row)">
                              <mat-icon>print</mat-icon>
                              <span>Imprimir etiqueta</span>
                            </button>
                            <button mat-menu-item (click)="editar(row)">
                              <mat-icon>edit</mat-icon>
                              <span>Editar cilindro</span>
                            </button>
                            <button mat-menu-item *ngIf="isAdmin && row.activo" (click)="cambiarEstado(row)">
                              <mat-icon>delete</mat-icon>
                              <span>Eliminar cilindro</span>
                            </button>
                            <button mat-menu-item *ngIf="isAdmin && !row.activo" (click)="cambiarEstado(row)">
                                <mat-icon>add</mat-icon>
                                <span>Activar cilindro</span>
                              </button>
                        </mat-menu>
                    </div>
                </td>
            </ng-container>

            <!-- Columna del propietario -->
            <ng-container matColumnDef="propietario">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Propietario </th>
                <td mat-cell *matCellDef="let row"> {{row.propietario}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Se muestra si no se encuantra información con el valor filtrado. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell text-danger" colspan="4">Sin resultados para "{{input.value}}"</td>
            </tr>
        </table>

    </div>
    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>

</div>