<div class="animated fadeIn fast">
    <!-- Selección de dispositivo de video -->
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Cambiar cámara</label>
        </div>
        <!-- Opciones de dispositivos -->
        <select class="custom-select" (change)="cambiarCam($event.target.value)">
          <option>Seleccione un dispositivo de video...</option>
          <option *ngFor="let device of videoDevices; let i = index" value="{{ device.groupId }}">CAM ({{ i + 1 }}) {{ device.label }}</option>
        </select>
    </div>

    <!-- Se muestra lo que capta la cámara -->
    <div class="dev-container animated fadeIn" id="target">
        <qr-scanner [ngClass]="{ 'hideElem': esconder }" [debug]="false" [canvasWidth]="ancho" [canvasHeight]="alto" [updateTime]="tiempoActualizacion" [stopAfterScan]="detenerEscaner">
        </qr-scanner>
    </div>
</div>