<form class="validate-form m-1" (ngSubmit)="registrar( f )" #f="ngForm">
    <!-- Input metros cúbicos -->
    <div class="form-group">
        <label><b>Capacidad del cilindro:</b></label>
        <input class="form-control" type="number" [(ngModel)]="cilindro.metros_cubicos" name="metros_cubicos" placeholder="Capacidad (metros cúbicos)" required>
        <span *ngIf="f.submitted && f.controls['metros_cubicos'].errors" class="text-danger animated fadeIn">Campo obligatorio</span>
    </div>
    <!-- Input gas -->
    <div class="form-group">
        <label for="tipo_id"><b>Tipo de gas</b></label>
        <select class="form-control" [(ngModel)]="cilindro.tipo_id" name="tipo_id" placeholder="Tipo de gas" required>
          <option value="undefined" disabled>Seleccione tipo de gas</option>
          <option *ngFor="let gas of gases" value="{{gas.id}}"> {{ gas.descripcion }} </option>
        </select>
        <span *ngIf="f.submitted && f.controls['tipo_id'].errors" class="text-danger animated fadeIn">Campo obligatorio</span>
    </div>
    <!-- Input mantención -->
    <label><b>Última mantención</b></label>
    <div class="form-group">
        <input class="form-control datepicker" [(ngModel)]="cilindro.mantencion" name="mantencion" [max]="maxDate" [matDatepicker]="mantencion" placeholder="Mantención" disabled>
        <mat-datepicker-toggle matSuffix [for]="mantencion" matTooltip="Escoger fecha"></mat-datepicker-toggle>
        <mat-datepicker #mantencion disabled="false"></mat-datepicker>
        <mat-datepicker-toggle matSuffix (click)="limpiarFecha()">
            <mat-icon matDatepickerToggleIcon matTooltip="Limpiar fecha">clear</mat-icon>
        </mat-datepicker-toggle>
    </div>
    <div class="form-group">
        <label><b>Lugar o Empresa de la mantención:</b></label>
        <input class="form-control" type="text" [(ngModel)]="cilindro.desc_mantenimiento" name="desc_mantenimiento" placeholder="Lugar de mantenimiento">
        <small class="form-text text-muted ml-2">(Campo Opcional)</small>
    </div>
    <!-- Input dueño -->
    <div class="form-group">
        <label for="propietario_id"><b>Dueño del cilindro</b></label>
        <select class="form-control" [(ngModel)]="cilindro.propietario_id" name="propietario_id" placeholder="Propietario" required>
          <option value="undefined" disabled>Seleccione propietario</option>
          <option *ngFor="let propietario of propietarios" value="{{propietario.id}}"> {{ propietario.descripcion }} </option>
        </select>
        <span *ngIf="f.submitted && f.controls['propietario_id'].errors" class="text-danger animated fadeIn">Campo obligatorio</span>
    </div>
    <!-- Sección que se muestra sólo en el editable -->
    <div class="form-group" *ngIf="seccionEdit">
        <label><b>Stock y Carga</b></label>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="stock" [(ngModel)]="cilindro.stock" [ngModelOptions]="{standalone: true}">
            <label class="custom-control-label" for="stock">Está en Stock?</label>
        </div>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="cargado" [(ngModel)]="cilindro.cargado" [ngModelOptions]="{standalone: true}">
            <label class="custom-control-label" for="cargado">Está cargado?</label>
        </div>
    </div>
    <!-- Input código -->
    <div class="form-group">
        <label><b>Escriba el número de serie del cilindro</b></label>
        <input class="form-control" type="text" [(ngModel)]="cilindro.codigo_activo" name="codigo_activo" placeholder="Nº de Serie" required (keyup)="changeQRVal(numSerie.value)" #numSerie>
        <span *ngIf="f.submitted && f.controls['codigo_activo'].errors" class="text-danger animated fadeIn">Campo obligatorio</span>
    </div>
    <!-- Imagen QR -->
    <div class="m-4 text-center">
        <qrcode [qrdata]="QrValue" [width]="Width" [errorCorrectionLevel]="'M'"></qrcode>
    </div>
    <!-- Botones -->
    <button type="submit" class="btn btn-outline-primary btn-block">
        <mat-icon class="center-icons" *ngIf="seccionEdit">edit</mat-icon>
        <mat-icon class="center-icons" *ngIf="!seccionEdit">save</mat-icon>
         {{ accionBtn }}
    </button>
    <button type="button" class="btn btn-outline-dark btn-block" (click)="recargar()">
        <mat-icon class="center-icons">navigate_before</mat-icon>
         Regresar
    </button>
</form>