<div class="example-container mat-elevation-z8 animated fadeIn fast">
    <div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        <div class="rate-limit-reached" *ngIf="isRateLimitReached">
            Error al obtener la información...
        </div>
    </div>


    <mat-form-field class="ml-2">
        <mat-label>Búsqueda</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="filtro" #input>
    </mat-form-field>

    <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort>

            <!-- Columna del ID -->
            <ng-container matColumnDef="cliente_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row"> {{ row.cliente_id }} </td>
            </ng-container>

            <!-- Columna del rut -->
            <ng-container matColumnDef="rut">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Rut </th>
                <td mat-cell *matCellDef="let row" style="min-width: 120px;"> {{ row.rut }} </td>
            </ng-container>

            <!-- Columna de los contacto -->
            <ng-container matColumnDef="contacto">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="min-width: 150;"> Contacto </th>
                <td mat-cell *matCellDef="let row"> {{ row.nombre_completo }} </td>
            </ng-container>

            <!-- Columna del email -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="min-width: 150;"> Correo </th>
                <td mat-cell *matCellDef="let row"> {{ row.email | notNull }} </td>
            </ng-container>

            <!-- Columna del telefono -->
            <ng-container matColumnDef="telefono">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="min-width: 100px;"> Teléfono </th>
                <td mat-cell *matCellDef="let row"> {{ row.telefono | notNull }} </td>
            </ng-container>

            <!-- Columna del razon social -->
            <ng-container matColumnDef="razon_social">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="min-width: 150;"> Razón social </th>
                <td mat-cell *matCellDef="let row" style="min-width: 200px;"> {{ row.razon_social | notNull }} </td>
            </ng-container>

            <!-- Columna de estado -->
            <ng-container matColumnDef="activo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Activo </th>
                <td mat-cell *matCellDef="let row" [ngClass]="{ 'activo': row.activo, 'inactivo': !row.activo }">
                    <mat-icon>{{ row.activo | boolean }}</mat-icon>
                </td>
            </ng-container>

            <!-- Columna de opciones -->
            <ng-container matColumnDef="opciones" stickyEnd>
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Opciones </th>
                <td mat-cell *matCellDef="let row" #reescalado>
                    <div *ngIf="!tableSmall">
                        <button mat-icon-button matTooltip="Ver información" (click)="info(row)">
                            <mat-icon>description</mat-icon>
                        </button>
                        <button mat-icon-button color="accent" matTooltip="Editar cliente" (click)="editar(row)">
                            <mat-icon>edit</mat-icon>
                          </button>
                        <button mat-icon-button *ngIf="isAdmin && row.activo" color="warn" matTooltip="Eliminar cliente" (click)="cambiarEstado(row)">
                            <mat-icon>delete</mat-icon>
                          </button>
                        <button mat-icon-button *ngIf="isAdmin && !row.activo" color="primary" matTooltip="Activar cliente" (click)="cambiarEstado(row)">
                            <mat-icon>add</mat-icon>
                          </button>
                    </div>
                    <div *ngIf="tableSmall">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="info(row)">
                                <mat-icon>description</mat-icon>
                                <span>Ver información</span>
                            </button>
                            <button mat-menu-item (click)="editar(row)">
                              <mat-icon>edit</mat-icon>
                              <span>Editar cliente</span>
                            </button>
                            <button mat-menu-item *ngIf="isAdmin && row.activo" (click)="cambiarEstado(row)">
                              <mat-icon>delete</mat-icon>
                              <span>Eliminar cliente</span>
                            </button>
                            <button mat-menu-item *ngIf="isAdmin && !row.activo" (click)="cambiarEstado(row)">
                                <mat-icon>add</mat-icon>
                                <span>Activar cliente</span>
                              </button>
                        </mat-menu>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Se muestra si no se encuantra información con el valor filtrado. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell text-danger" colspan="8">Sin resultados para "{{input.value}}"</td>
            </tr>
        </table>

    </div>
    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>

</div>