/* Structure */

.stepper-color {
    background-color: red !important;
}

.example-container {
    position: relative;
    min-height: 200px;
}

.table-container {
    position: relative;
    overflow: auto;
    max-height: 30vh;
}

table {
    width: 100%;
}

.loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
}


/* Column Widths */

.mat-header-cell,
.mat-cell {
    padding: 15px;
}

.mat-form-field {
    font-size: 14px;
    width: 97%;
}