<h1 class="mt-5">Cilindros arrendados</h1>
<hr><br>

<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1"><mat-icon>search</mat-icon></span>
    <input type="text" class="form-control" (keyup)="applyFilter($event)" placeholder="filtro" #input>
</div>

<div class="example-container mat-elevation-z8 animated fadeIn fast">
    <div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        <div class="rate-limit-reached" *ngIf="isRateLimitReached">
            Error al obtener la información...
        </div>
    </div>

    <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort>

            <!-- Columna del número de serie del activo -->
            <ng-container matColumnDef="codigo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nº Serie </th>
                <td mat-cell *matCellDef="let row"> {{ row.codigo_activo | slice:13 }} </td>
            </ng-container>

            <!-- Columna del tipo de gas -->
            <ng-container matColumnDef="cilindro" style="min-width: 200px;">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> cilindro </th>
                <td mat-cell *matCellDef="let row"> {{ row.tipo_gas }} ({{ row.metros_cubicos }} m<sup>3</sup>) </td>
            </ng-container>

            <!-- Columna del dias_transcurridos -->
            <ng-container matColumnDef="dias_transcurridos">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Días </th>
                <td mat-cell *matCellDef="let row" [ngClass]="{'activo': row.dias < 15, 'aviso': row.dias > 15 && row.dias < 30, 'inactivo': row.dias > 30}">
                    {{ row.dias }}
                    <mat-icon class="center-icons">announcement</mat-icon>
                </td>
            </ng-container>

            <!-- Columna del propietario -->
            <ng-container matColumnDef="propietario">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Propietario </th>
                <td mat-cell *matCellDef="let row"> {{ row.propietario }} </td>
            </ng-container>

            <!-- Columna del cliente -->
            <ng-container matColumnDef="cliente">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="min-width: 200px;"> Cliente </th>
                <td mat-cell *matCellDef="let row"> {{ row.nombre_completo }} ({{ row.rut }}) </td>
            </ng-container>

            <!-- Columna de correlativo -->
            <ng-container matColumnDef="opcion" stickyEnd>
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Op. </th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button matTooltip="Ver información de contacto" (click)="verInfo(row)">
                        <mat-icon>description</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Se muestra si no se encuantra información con el valor filtrado. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell text-danger" colspan="4">Sin resultados para "{{input.value}}"</td>
            </tr>
        </table>

    </div>
    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
</div>