<mat-tab-group>
    <mat-tab label="Mapa">
        <h3 style="text-align:center;">Mapa IV Región</h3>
        <div style="margin:20px auto; width:800px;">
            <ol-map lat="-29.9411988" lon="-71.2380344" zoom="11" width="100%" height="500px">
                <ol-map-marker *ngFor="let direccion of direcciones" lat="{{direccion.latitud}}" lon="{{direccion.longitud}}">
                </ol-map-marker>
                <ol-control control="FullScreen">
                </ol-control>
                <ol-control control="ScaleLine">
                </ol-control>
                <ol-control control="Zoom">
                </ol-control>
            </ol-map>
        </div>
        <br>
    </mat-tab>
    <mat-tab label="Gráfico">
        <ngx-charts-advanced-pie-chart [view]="view" animations="true" [scheme]="colorScheme" [results]="single" [gradient]="gradient">
        </ngx-charts-advanced-pie-chart>
    </mat-tab>
</mat-tab-group>