<mat-tab-group>
    <mat-tab label="Mapa">
        <h3 class="mt-3 text-center">Mapa IV Región</h3>
        <hr>
        <app-mapbox [coors]="direcciones"></app-mapbox>
        <br>
    </mat-tab>
    <mat-tab label="Gráfico">
        <h3 class="mt-3 text-center">Resumen de cilindros por cliente</h3>
        <hr>
        <ngx-charts-advanced-pie-chart [view]="view" animations="true" [scheme]="colorScheme" [results]="single" [gradient]="gradient">
        </ngx-charts-advanced-pie-chart>
    </mat-tab>
</mat-tab-group>