<div class="animated fadeIn fast" *ngIf="!mostrar">
    <div class="dev-container animated fadeIn" id="target">
        <app-escaner-qr (mostrarCodigo)="mostrarCodigo($event)"></app-escaner-qr>
    </div>
</div>

<div class="mt-3 animated fadeIn fast" *ngIf="mostrar">
    <!-- Una Tarjeta para mostrar la información del Cilindro -->
    <div class="card bg-light mb-3 animated fadeIn">
        <div class="card-header">
            <h5 class="card-title">Cilindro</h5>
        </div>
        <!-- Información medular, se pueden usar pipes para transformar visualmente la data -->
        <div class="card-body">
            <p class="card-text"><b>Metros cúbicos:</b> {{ cilindro.metros_cubicos }} m<sup>3</sup></p>
            <p class="card-text"><b>Nº Serie:</b> {{ cilindro.codigo_activo | slice:13 }}</p>
            <p class="card-text"><b>Tipo de Gas:</b> {{ cilindro.tipo_gas }}</p>
            <p class="card-text"><b>Última mantención:</b> {{ cilindro.fecha_mantencion }}</p>
            <p class="card-text"><b>Propietario:</b> {{ cilindro.propietario }}</p>
            <p class="card-text center-icons"><b>Stock:</b>&nbsp;
                <mat-icon [ngClass]="{ 'activo': cilindro.stock, 'inactivo': !cilindro.stock, 'center-icons': true }">
                    {{ cilindro.stock | boolean }}
                </mat-icon>
            </p>
            <p class="card-text center-icons"><b>Con carga:</b>&nbsp;
                <mat-icon [ngClass]="{ 'activo': cilindro.cargado, 'inactivo': !cilindro.cargado, 'center-icons': true }">
                    {{ cilindro.cargado | boolean }}
                </mat-icon>
            </p>
            <p class="card-text center-icons"><b>Estado:</b>&nbsp;
                <mat-icon [ngClass]="{ 'activo': cilindro.activo, 'inactivo': !cilindro.activo, 'center-icons': true }">
                    {{ cilindro.activo | boolean }}
                </mat-icon>
            </p>
        </div>
        <!-- Botones para redireccionar -->
        <div class="card-body">
            <button class="btn btn-outline-primary btn-block" (click)="recargar()">Buscar otro</button>
            <button class="btn btn-outline-warning btn-block" (click)="editar()">Editar</button>
            <button class="btn btn-outline-danger btn-block" (click)="cambiarEstado()" *ngIf="esAdmin() && cilindro.activo">Eliminar</button>
            <button class="btn btn-outline-success btn-block" (click)="cambiarEstado()" *ngIf="esAdmin() && !cilindro.activo">Activar</button>
        </div>
    </div>
</div>