<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Ícono de la Izquierda del NavBar usado como un redireccionamiento al home -->
    <a class="navbar-brand" routerLink="/">
        <img src="./assets/img/angular.png" height="30" alt="">
    </a>
    <!-- Botón que muestra el menú del NavBar cuando la resolución de la pantalla es baja (Especial para dispositivos móviles) -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <!-- Contenedor de los links de direccionamiento -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['home']">Inicio</a>
            </li>
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLinkActive="active" *ngIf="verificarValidez()">
                <a class="nav-link" [routerLink]="['activo']">Activos</a>
            </li>
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLinkActive="active" *ngIf="verificarValidez()">
                <a class="nav-link" [routerLink]="['cliente']">Clientes</a>
            </li>
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLinkActive="active" *ngIf="verificarValidez()">
                <a class="nav-link" [routerLink]="['venta']">Ventas</a>
            </li>
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLinkActive="active" *ngIf="verificarValidez()">
                <a class="nav-link" [routerLink]="['stock']">Stock</a>
            </li>
            <li class="nav-item dropdown" data-toggle="collapse" data-target=".navbar-collapse.show" routerLinkActive="active" *ngIf="verificarValidez() && verficarAdmin()">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Administración
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['usuario']">Usuarios</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['tipo']">Tipo Gas</a>
                    <a class="dropdown-item" [routerLink]="['propietario']">Propietarios</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['zona']">Zonas</a>
                    <a class="dropdown-item" [routerLink]="['comuna']">Comunas</a>
                </div>
            </li>
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['about']">Quiénes Somos</a>
            </li>
        </ul>
        <!-- Botones para Login y Logout -->
        <button *ngIf="!verificarValidez()" (click)="ingresar()" class="btn btn-outline-success my-2 my-sm-0" type="button">Ingresar</button>
        <button *ngIf="verificarValidez()" (click)="salir()" class="btn btn-outline-danger my-2 my-sm-0" type="button">Salir</button>
    </div>
</nav>