<h1 mat-dialog-title class="text-center">{{ data.titulo }}</h1>
<div mat-dialog-content>
    <div align="center">
        <input class="form-control datepicker" [(ngModel)]="venta.retorno" name="retorno" [max]="maxDate" [min]="minDate" [matDatepicker]="retorno" placeholder="Devolución" (dateChange)="cambioDias($event)" disabled>
        <mat-datepicker-toggle matSuffix [for]="retorno" matTooltip="Escoger fecha"></mat-datepicker-toggle>
        <mat-datepicker #retorno disabled="false"></mat-datepicker>
    </div><br>
    <div class="form-group" align="center">
        <label for="demora_id">
            <b>Seleccione la demora</b>
            <small class="text-muted"> ( días transcurridos: {{ dias }} ) </small>
        </label>
        <select class="form-control" [(ngModel)]="venta.demora_id" name="demora_id" required>
            <option value="undefined" disabled>Seleccione un tipo de atraso</option>
            <option *ngFor="let demora of demoras" value="{{demora.id}}"> {{ demora.descripcion }} </option>
        </select>
        <small class="text-muted"> Costo de arriendo: {{ costo | currency:'CAD':'symbol-narrow':'.0-0' }} </small>
        <br>
        <small class="text-danger animated fadeIn" *ngIf="!demoraOK">Campo obligatorio</small>
    </div>
</div>
<div mat-dialog-actions align="center">
    <button mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="registrar()"><mat-icon>save</mat-icon>Confirmar</button>
</div>