<h1 mat-dialog-title class="text-center">{{ data.titulo }}</h1>
<div mat-dialog-content>
    <div align="center">
        <input class="form-control datepicker" [(ngModel)]="venta.retorno" name="retorno" [max]="maxDate" [min]="minDate" [matDatepicker]="retorno" placeholder="Devolución" (dateChange)="cambioDias($event)" disabled>
        <mat-datepicker-toggle matSuffix [for]="retorno" matTooltip="Escoger fecha"></mat-datepicker-toggle>
        <mat-datepicker #retorno disabled="false"></mat-datepicker>
    </div><br>
    <div class="card text-dark bg-light mb-3" align="center">
        <div class="card-body">
            <h5 class="card-title">Datos de devolución</h5>
            <small class="text-muted"> Días transcurridos: {{ dias }} </small><br>
            <small class="text-muted"> Costo de arriendo: {{ costo | currency:'CAD':'symbol-narrow':'.0-0' }} </small>
        </div>
    </div>
</div>
<div mat-dialog-actions align="center">
    <button mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="registrar()"><mat-icon>save</mat-icon>Confirmar</button>
</div>