/* Estos estilos se aplicarán a TODO el sistema */

.center-icons {
    text-align: center !important;
    vertical-align: middle !important;
}

.min-width {
    min-width: 500px;
}

.div-full {
    width: 100%;
}

.navbar {
    min-width: 320px;
}

.datepicker {
    display: inline !important;
    width: 50% !important;
    text-align: center !important;
}

.hideElem {
    visibility: hidden;
}

body {
    padding-bottom: 50px;
}

.main-container {
    margin-top: 20px;
}

.img-logo {
    width: 120px;
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}