<h1 mat-dialog-title class="text-center"> Cambiar contraseña </h1>
<hr>
<div mat-dialog-content>
    <form class="validate-form m-1" (ngSubmit)="editar( f )" #f="ngForm">
        <!-- Input contraseñas -->
        <div class="form-group col-md-12">
            <div>
                <label><b>Contraseña:</b></label>
                <input class="form-control" [type]="hide ? 'password' : 'text'" [(ngModel)]="usuario.password" name="password" placeholder="Contraseña" minlength="6" required>
                <small id="passwordHelpInline" class="text-muted">
                    Mínimo de 6 caracteres.
                    <button type="button" class="float-right" matTooltip="Ver contraseña" mat-icon-button (click)="hide = !hide">
                        <mat-icon class="center-icons">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </small><br *ngIf="f.submitted && f.controls['password'].errors">
                <span *ngIf="f.submitted && f.controls['password'].errors" class="text-danger animated fadeIn">Campo obligatorio</span>
            </div>
            <div>
                <label><b>Confirmar:</b></label>
                <input class="form-control" [type]="hide ? 'password' : 'text'" [(ngModel)]="usuario.confirm_password" name="confirm_password" placeholder="Contraseña" minlength="6" required>
                <small id="passwordHelpInline" class="text-muted">
                Confirme la contraseña.
            </small><br>
                <span *ngIf="f.submitted && f.controls['confirm_password'].errors" class="text-danger animated fadeIn">Campo obligatorio</span>
                <span *ngIf="errorPassword" class="text-danger animated fadeIn">Las contraseñas no coinciden.</span>
            </div>
            <div class="col-md-2 mt-4">
            </div>
        </div>
        <div mat-dialog-actions align="center">
            <button mat-raised-button color="warn" type="button" (click)="onNoClick()"><mat-icon>cancelar</mat-icon>Cancelar</button>
            <button mat-raised-button color="primary" type="submit"><mat-icon>save</mat-icon>Guardar</button>
        </div>
        <br>
    </form>
</div>